div {
    border: 1px solid black;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-evenly;
    width: 350px;
    height: 350px;
}

.game-square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px; 
    font-weight: bold;
    width: 100px;
    height: 100px;
}